.app-chart {
  &__wrapper {}
  &__row {}
  &__col {}
  &__col-inner {}
  &__cell {
    height: 50px;
  }
    
  &-text {
    font-size: 16px;
    line-height: 19px;
    &, &_sub {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      color: #414042;
    }
    &_sub {
      font-size: 14px;
      line-height: 16px;
      opacity: 0.5;
    }
  }

  &-divider {
    border-bottom-style: solid;
    &, &_dashed {
      border-bottom-width: 1px;
      border-bottom-color: rgba(0,0,0,.16);
    }
    &_dashed {
      border-bottom-style: dashed;
    }
  }
    
  &-footer {
    &__wrapper {
      padding-top: 18px;
    }
    &__row {
      margin-left: -5px;
      margin-right: -5px;
    }
    &__col {
      padding-left: 5px;
      padding-right: 5px;
    }
    &__col-inner {}
  }
  
  &-main {
    transform: scaleY(-1);
  }

  &-background-color {
    background-image: linear-gradient(180deg, rgba(82, 193, 186, 0) 0%, #52C1BA 100%)
  }

  &-item {
    &-group {
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }
    &-foreign {
      -webkit-filter: drop-shadow( 0px -4px 14px rgba(0, 0, 0, 0.15));
      filter: drop-shadow( 0px -4px 14px rgba(0, 0, 0, 0.15));
    }
    &-prompt {
      width: 100%;
      height: 100%;
      transform: scaleY(-1);
      &-body {
        width: 100%;
        height: 100%;
        background: #FFF;
        border-radius: 2px;
      }
      &-text {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}